[PATHS]
# These paths need to be global paths, so they will probably start with C:/
ModpackPath=

# Your server main folder (the one that has server.jar or something)
ServerPath=
# Your .minecraft folder
ClientPath=

ReleasePath=